[submodule "ss-dev-src/integration-rest"]
	path = ss-dev-src/integration-rest
	url = https://github.com/idsec-solutions/signservice-integration-rest.git
[submodule "ss-dev-src/signservice"]
	path = ss-dev-src/signservice
	url = https://github.com/swedenconnect/signservice.git
[submodule "sunet-modules"]
	path = ss-dev-src/signservice-modules
	url = https://github.com/SUNET/signservice-modules.git
[submodule "validation"]
	path = ss-dev-src/sigval
	url = https://github.com/SUNET/docker-sigval
